.allBlogs {
    display: flex;
    justify-content: center;
    gap: 3rem 2rem;
    flex-wrap: wrap;
}
.blogs {
    height: auto;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.postImage img {
    width: 20rem;
    height: 15rem;
}

.postDescription .postTitle {
    font-family: 'Roboto Mono', monospace;
}

.postDescription .info,
.postSummary {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: justify;
    word-wrap: break-word;
}

.postDescription .info {
    margin: 1rem 0;
}

.controls {
    width: 100%;
    padding: 1rem 0 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.controls svg, button {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    background: transparent;
    border: none;
    box-shadow: 0 0 10px;
    cursor: pointer;
}

.controls .view {
    color: blue;
}

.controls .edit {
    color: green;
}

.controls .delete {
    color: red;
}

/* Search Filter */

.filter {
    margin: 2rem auto;
}

.searchFilter {
    /* text-align: center; */
    display: flex;
    width: 50%;
    margin: 0 auto;
}

.searchFilter .searchInput{
    width: 100%;
    padding: 1rem;
    border-radius: 0.7rem 0 0 0.7rem;
    transition: 300ms ease;
    display: block;
    border: 1px solid;
    border-right: none;

}

.searchFilter .searchDomain{
    padding: 1rem;
    border-radius: 0 0.7rem 0.7rem 0;
    display: block;
    border: 1px solid;
    border-left: 1px solid rgb(229, 227, 227);
}

.multiFilter {
    text-align: center;
    margin: 2rem 0;
}

.categoryFilter button {
    margin: 0 1rem;
}

/* View Blog Page */
.viewBlog {
    width: 100%;
}

.viewBlog .blogImg {
    display: block;
    height: 20rem;
    width: 80%;
    margin: 0 auto 1rem;
    text-align: center;
}

.viewBlog .blogTitle, .noBlogTitle {
    text-align: center;
}

.viewBlog .blogContent {
    text-align: justify;
    padding: 1rem;
}


/* Create Blog */

.createPost {
    display: flex;
    flex-direction: column;
}

.fields {
    width: 20rem;
    height: auto;
    margin: 0 auto;
    padding: 0.5rem 0.5rem 0;
    box-shadow: 0 0 10px rgb(197, 197, 196);
}

.reactQuill {
    border: 2px solid #000;
}

.ql-editor {
    border-top: 1px solid #000;
}



/* Media Queries */
@media screen and (max-width: 1280px) {
    .postTitle {
        font-size: 1.3rem;
    }
    
    .postSummary {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    /* Posted Blogs */
    .post {
        flex-direction: column;
    }
    .postDescription {
        width: 100%;
    }
    .postImage img {
        width: 100%;
        position: static;
        border-radius: 1.5rem 1.5rem 0 0;
    }

    /* View Blogs */
    .blogs  {
        width: 80%;
        padding: 1rem;
    }

    .postImage img {
        box-shadow: 0 0 15px;
    }

    /* Create Blog */
    .ql-toolbar.ql-snow {
        display: flex;
        flex-wrap: wrap;
        align-items: self-end;
        gap: 1rem;
        justify-content: center;
    }

    .ql-toolbar.ql-snow .ql-formats {
        margin-right: 0;
    }

    .ql-snow.ql-toolbar button{
        margin: 0 0.2rem;
    }
}