.blogs {
    width: 60%;
    height: auto;
    margin: 1rem auto;
    box-shadow: 0 0 10px;
    background-color: beige;
    position: relative;
    border-radius: 1.5rem;
}

.post {
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
}

.postImage img {
    width: 28%;
    height: 100%;
    position: absolute;
    border-radius: 1.5rem 0 0 1.5rem;
}

.postDescription {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    /* background-color: rebeccapurple; */
    width: 70%;
}

.postSummary {
    text-align: justify;
}

.controls {
    width: 100%;
    padding: 1rem 0 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.controls svg, button {
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border-radius: 2rem;
    background: transparent;
    border: none;
    box-shadow: 0 0 10px;
    cursor: pointer;
}

.controls .view {
    color: blue;
}

.controls .edit {
    color: green;
}

.controls .delete {
    color: red;
}

/* View Blog Page */
.viewBlog {
    width: 100%;
    /* text-align: center; */
}

.viewBlog .blogImg {
    display: block;
    height: 20rem;
    width: 80%;
    margin: 0 auto 1rem;
    text-align: center;
}

.viewBlog .blogTitle {
    text-align: center;
}

.viewBlog .blogContent {
    text-align: justify;
    padding: 1rem;
}


/* Create Blog */

.fields {
    width: 20rem;
    height: auto;
    margin: 0 auto;
    padding: 0.5rem 0.5rem 0;
    box-shadow: 0 0 10px rgb(197, 197, 196);
}

.reactQuill {
    border: 2px solid #000;
}

.ql-editor {
    border-top: 1px solid #000;
}

/* Media Queries */
@media screen and (max-width: 1280px) { 
    .postTitle {
        font-size: 1.3rem;
    }
    
    .postSummary {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 768px) {
    /* Posted Blogs */
    .post {
        flex-direction: column;
    }
    .postDescription {
        width: 100%;
    }
    .postImage img {
        width: 100%;
        position: static;
        border-radius: 1.5rem 1.5rem 0 0;
    }

    /* View Blogs */
    .blogs  {
        width: 80%;
        padding: 1rem;
    }

    .postImage img {
        box-shadow: 0 0 15px;
    }

    /* Create Blog */
    .ql-toolbar.ql-snow {
        display: flex;
        flex-wrap: wrap;
        align-items: self-end;
        gap: 1rem;
        justify-content: center;
    }

    .ql-toolbar.ql-snow .ql-formats {
        margin-right: 0;
    }

    .ql-snow.ql-toolbar button{
        margin: 0 0.2rem;
    }
}